*/INDEX/*
*{
  text-decoration:none;
  font-family: sans-serif;
margin: 0; padding:0;
}

html{
font-size:20%;
}

.btn{
display: incline-block;
margin-top:1;
padding:1;
background: primary;
border-radius:5;
color: white;
font-size: 12;
cursor:pointer;
}

.btn: hover;{
background:secondary;
}

section{
padding:7%;
}

.header {
  position-fixed;
  top:0; left:0; right:0;
  width:100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding:2;
}

.header .navbar a{
font-size:5px;
color: black;
margin:1;
}

.header .navbar a: hover{
color: primary;
}

.header .navbar .btn{
margin-top: 0%
color: white;
}

#menu-btn{
display: none;
}

/* availability*/

.availability form{
  display: none;
  gap: 1%;
  background: #eee;
  padding: 1;
  border-radius: 5rem; 
}

.availability form .box{
  flex: 1;
}

.availability form .box .input{
  width: 100%;
  padding: 1 rem;
  font-size: 5px;
  color: black;
  margin: 0;
  border-radius: .5rem;
}























/* Sevice*/

body {
  font-size:40px;
  margin-bottom:40px;
  text-align:center;
}

service-content-row{
  display:grid;
  grid-template-columns:repeat(auto);
  gap: 20px;
}

service-content-col{
  padding: 25px;
  border:2px;
  text-align:center;
  color: #F5B041;
  margin-bottom:10px;
}

service-content-hover{
  background-color: #F5B041;
}

service-content h3{
  font-size: 25px;
  text-align:center;
  margin-bottom:10px;
}

service-content p{
  font-size: 25px;
  text-align:center;
  margin-bottom:10px;
}