*/INDEX/*
*{
  text-decoration:none;
  font-family: sans-serif;
}

body{
 color: black; 
}

header {
  position-auto;
  top:0;
  width:100%;
  text-align: center;
  justify-content-left;
  background-color: black;
  padding:0;
}

body. navlist a{
  margin-right: 20px;
  color: green;
  font-size: 19px;
}
.nav_links{
  width:100%;
  padding:2px;
  text-align:center;
  background-color: #e82574;
}
navlist a:hover{
  color: orange
}

.btn {
  padding: 1px;
    font-size: 1px;
  font-color: white;
  background-color: #e82574;
  border-radius:5px;
}


/* Sevice*/

body {
  font-size:40px;
  margin-bottom:40px;
  text-align:center;
}

service-content-row{
  display:grid;
  grid-template-columns:repeat(auto);
  gap: 20px;
}

service-content-col{
  padding: 25px;
  border:2px;
  text-align:center;
  color: #F5B041;
  margin-bottom:10px;
}

service-content
service-content h3{
  font-size: 25px;
  text-align:center;
  margin-bottom:10px;
}

service-content p{
  font-size: 25px;
  text-align:center;
  margin-bottom:10px;
}