*{
  text-decoration:none;
  font-family: sans-serif;
}

body{
 color: black; 
}

header {
  position-auto;
  top:0;
  width:100%;
  text-align: center;
  justify-content-left;
  background-color: black;
  padding:0;
}

navlist a{
  margin-right: 20px;
  color: black;
  font-size: 19px;
}

navlist a:hover{
  color: orange
}